.tier-btn {
    margin: 2px;
    background-color: #0e3473 !important;
    border: none !important;
}

.tier-btn:hover {
    background-color: red !important;
}


.card {
    width: 250px;
    color: black;
}